<%- include('./../partials/header'); -%>
<br>
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Test Messagerie</h1>
	</div>
</div>
<div id="chat">
	<div id="messages">
	</div>
	<div id="message">
		<div class="form-inline"><input placeholder="message..." id="chat-message"/></div>
	</div>
</div>
<script>
	var username = "<%- user.login %>";
</script>
<script src="/public/app/js/chat/chat.js"></script>
<%- include('./../partials/footer'); -%>