<%- include('./../partials/header'); -%>
<br>
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Bienvenue</h1>
	</div>
</div>
<script src="/public/app/js/home/index.js"></script>
<%- include('./../partials/footer'); -%>