<%- include('./../partials/header'); -%>
<br>
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Bienvenue</h1>
	</div>
</div>
<div class="container"><button id="test_solidity" class="btn btn-info">Faire un test de solidité</button></div>
<script src="/public/app/js/solidity/solidity.js"></script>
<%- include('./../partials/footer'); -%>